name: CI

on: 
  pull_request:
  push:
    branches: [main]


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go 1.25.x
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...

